[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "2.9.10"
kombu = "5.5.3"
gunicorn = "23.0.0"
whitenoise = "6.9.0"  # Para servir arquivos estáticos
python-dotenv = "1.1.0"
pyjwt = "2.10.1"
cryptography = "44.0.3"
httpx = "0.28.1"

[dev-packages]
black = "25.1.0"
flake8 = "7.2.0"
pytest = "8.3.5"
pytest-django = "4.11.1"
ipython = "9.1.0"

[requires]
python_version = "3.12"
