apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard
spec:
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
      - name: dashboard
        # imagem
        image: southamerica-east1-docker.pkg.dev/exsistemas-180422/ex-prod-1/ex-dashboard:latest
        ports:
          - containerPort: 8000
        volumeMounts:
        - name: staticfiles-volume
          mountPath: /app/staticfiles
        env:
        # GERAL
        - name: TZ
          value: "America/Sao_Paulo"
        - name: URL_CORS_ENABLE
          value: "http://localhost:8000,https://permissao.exsistemas.com.br,https://www.permissao.exsistemas.com.br"
        # DATABASE ENVS
        - name: DB_PORT
          value: '5432'
        - name: DB_HOST_PORT
          value: '5432'
        - name: DB_VENDOR
          value: 'postgres'
        - name: DB_HOST
          value: "127.0.0.1"
        - name: DB_USERNAME
          value: 'usudashboard'
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: secrets-dashboard
              key: password
        - name: DB_NAME
          value: 'dashboard'
        - name: DB_LOGGING
          value: 'false'
        - name: DB_SYNCHRONIZE
          value: 'false'
        # RABBITMQ
        - name: RABBITMQ_HOST
          value: 'message.exsistemas.com.br'
        - name: RABBITMQ_AMQP_PORT
          value: '5672'
        - name: RABBITMQ_DEFAULT_USER
          value: 'guest'
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              name: secrets-rabbit-geral
              key: rabbitmq_default_pass
        - name: RABBITMQ_REGISTER_HANDLERS
          value: 'true'
        # gestor
        - name: EX_GESTOR_BACK_URL
          value: 'https://gestor-api.exsistemas.com.br/v1'
        # DASHBOARD
        # - name: JWT_PUBLIC_KEY
        #   value: ''
        - name: JWT_CLIENT_ID
          value: '2a8f2b6d-9d82-430d-b249-ee3e2ab7aabf'
        - name: JWT_PRIVATE_KEY
          value: ''

      # WS
      - name: dashboard-ws
        image: nginx:alpine
        ports:
          - containerPort: 80
        volumeMounts:
          - name: dashboard-nginx-volume
            mountPath: /etc/nginx/conf.d/default.conf
            subPath: default.conf
          - name: staticfiles-volume
            mountPath: /app/staticfiles

      # proxy
      - name: cloud-sql-proxy
        image: gcr.io/cloudsql-docker/gce-proxy:latest
        command:
          - "/cloud_sql_proxy"
          - "-instances=exsistemas-180422:southamerica-east1:pg-core=tcp:5432"
        securityContext:
          runAsNonRoot: true

      volumes:
        - name: dashboard-nginx-volume
          configMap:
            name: dashboard-nginx
        - name: staticfiles-volume
          emptyDir: {}